<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.androidshop.mapper.ChatMapper">

    <resultMap id="BaseResultMap" type="com.example.androidshop.entity.po.Chat">
            <id property="chatId" column="chat_id" jdbcType="BIGINT"/>
            <result property="sellerId" column="seller_id" jdbcType="BIGINT"/>
            <result property="buyerId" column="buyer_id" jdbcType="BIGINT"/>
            <result property="goodsId" column="goods_id" jdbcType="BIGINT"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        chat_id,seller_id,buyer_id,
        goods_id,create_time
    </sql>
    <select id="listChat" resultType="com.example.androidshop.entity.vo.ChatVO">
        SELECT chat.*,
               user.username,
               user.avatar,
               goods.name,
               goods.img,
               goods.price,
               clm.content     as last_message,
               clm.create_time as last_time
        FROM chat
                 INNER JOIN user ON chat.seller_id = user.user_id
                 INNER JOIN goods ON chat.goods_id = goods.goods_id
                 INNER JOIN (SELECT chat_message.content, chat_message.chat_id, chat_message.create_time
                             FROM chat_message
                             GROUP BY chat_message_id
                             ORDER BY create_time DESC
                             LIMIT 1) as clm
                            on clm.chat_id = chat.chat_id
        WHERE (chat.buyer_id = #{userId}
            or chat.seller_id = #{userId})
        ORDER BY create_time DESC
        LIMIT #{page}, #{size}
    </select>
</mapper>
