<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.androidshop.mapper.GoodsImgMapper">

    <resultMap id="BaseResultMap" type="com.example.androidshop.entity.po.GoodsImg">
        <id property="gImgId" column="g_img_id" jdbcType="BIGINT"/>
        <result property="goodsId" column="goods_id" jdbcType="BIGINT"/>
        <result property="imgId" column="img_id" jdbcType="BIGINT"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        g_img_id,goods_id,img_id,
        create_time
    </sql>
    <select id="listByGoodsId" resultType="com.example.androidshop.entity.vo.GoodsImgVO"
            parameterType="java.lang.Long">
        select img.url, goods_img.*
        from img,
             goods_img
        where goods_id = #{goodsId}
          and img.img_id = goods_img.img_id
        order by goods_img.g_img_id desc
    </select>
</mapper>
